img{
	padding-left:20px;
}
body{
	background-color:#9b0d62;
	/*720245;*/

}
.tm_header{
	background-color:white;
}
.tm_nav ul li  {
	display:inline-block;
	padding:10px;
}
.tm_nav ul li a  {
	text-decoration:none;
	line-height:100px;
	color:black;
	font-size: 40px;
	
}
.tm_nav{
	float:right;
}
.tm_nav ul li a:hover{
	color:blue;
}
.tm_nav ul li a:visited{
	color:#720245;
}
.tm_conatiner0{
	max-width:1100px;
	margin:0 auto;
	background-color:white;
	}
.tm_conatiner{
	max-width:1100px;
	margin:0 auto;
	background-color:white;
	padding:30px;
	height:100%;
	}
.tm_conatiner1{
	max-width:1100px;
	margin:0 auto;
	margin-left:100px;
	margin-bottom:5px;
	}	
img{
	padding-right:50px;
	max-width:100%
	}	
p,h1,h2,h3,h4{
	margin-left:40px
	
}
ul{
	margin-left:20px;
}
.img1{
	width:200px;
    border-radius: 50%;
    margin:20px;
    margin-left:120px;

}
.img2{
	width:200px;
	height:220px;
    border-radius: 50%;
    margin:20px;
    margin-left:120px;

}
.img3{
	width:200px;
    border-radius:50%;
    height:220px;
    margin:20px;
    margin-left:120px;

}
.header1{
	margin-left: 170px;
}
.header2{
	margin-left: 192px;
}
.header3{
	margin-left: 210px;
}
