*{
	box-sizing: content-box;
}
body{
	color:#fff;
	text-align: center;
	font-family: Arial;
	margin-top:200px;
	min-height: 100%;
	
}
#content{
	display:grid;
	/*grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-columns: 1fr 1fr 1fr ;*/
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: repeat(2,1fr);
	grid-row-gap: 0.5px;
	border:solid #720245;
	width:40%;
	margin-left:400px;
	border-radius: 20px;

	
}
#content div{
	padding:30px;
	
}
.header{
	background: #720245;
	/* grid-column: 2 / 3; */
	align-items: end;
	font-size: 30px;
	font-weight: bold;
	border-radius: 17px; 
	width:100%;
}
.form{
	
	grid-column: 2 / 3;
	border-radius: 20px;
}
#inputs{
	display: grid;
	grid-template-columns: repeat(1,1fr)
}
label {
	color:black;
	font-size:20px;

}
input{
	font-size:20px;
}
#submit input{
	/*background-color: success;*/
	font-size: 30px;
	width:200px;
}
button{
    background-color: #720245;
    border: none;
     color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
	border: 2px solid #fff; 
	
}
button:hover {
    background-color: #49f852;
    color: white;
    cursor: pointer;
}
button:active { 
    background-color: #4CAF50;
}
#text {
	
	color:white;
	font-size:28px;
	font-style: italic;


}
#emailid{
	margin-left:10px;
}