*{
    box-sizing: border-box;
}
aside {
	background-color: #720245;
	width:16.8%;
	height:500px;
	float:left;
	margin:20px;
	margin-top: 40px;
	padding-left: 20px;
}
section {
	background-color: #eeeee9;
	width:78%;
	height: 600px;
	float:left;
	margin:10px auto;
}
#questions {
	width:90%;
	height:150px;
    border:solid 3px #720245;
	 
}
#que {
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 10px;
	font-size: 16px;

}
#choice{
	padding:0px;

}
button{
	font-size: 16px;
	padding:5px;
}

input[type="text"],{
	width: 20px;
}
#header{
    margin-top: 0px;
    background-color: #720245;
    width:100%;
    height:80px;
}
#submit{
    margin-top:0px;
}

#quebtn{
    width:14% ;
    height:7%;
    
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
    border:0px;
    font-weight: bold;
    font-size:20px;
}