/*body{
	margin:0;
	padding:0;
}
nav{
	padding:15px;
	padding-left:50px;
	background-color: #720245;
	height:30px;
}
label{
	font-size: 18px;
	color:white;
}
button{
	font-size: 18px;
	background-color: #ad9c3a;
	border:none;
	padding:5px 10px;
	border-radius: 10px;
}
#btn{
	float:right;
}
button:hover {
    background-color: #f7dc45; 
    color: white;
    cursor: pointer;
}
#content{
	margin-left: 100px;
	margin-right: 100px;
	height:650px;
	background-color:#345321;
}
#main{
	width:70%;
	background-color: #aaaaaa;
	height:8%;
}
#history{
	width:2%;
	background-color: #aaaaaa;
	height:8%;
	float:right;
}*/
/* 
header {
    height: 30px;
    padding: 2px 10px 20px;
}

label{
	font-size: 24px;
	color:black;
}
.action {
    float: right;
}
.action>button{
    font-size: 18px;
	background-color: #ad9c3a;
	border:none;
	padding:5px 10px;
	border-radius: 10px;
}
.action>button:hover{
   background-color: #f7dc45; 
    color: white;
    cursor: pointer;
}
div {
    width: 100%;
    margin-top: 5px; 
}

div>section {
    width: 70%;
    height: 675px;
    float: left;
    background-color: brown;
    margin-left: 75px;
}

div>aside {
    width: 25%;
    height: 675px;
    background-color: blue;
    float: left
}

div>section>header {
    background-color: aqua;
    width: 98%;
    height: 30px;
}
#classname, #subject{
    width:125px;
    height: 35px;
    font-size: 20px;
    margin:unset;
} */

body{
	color:#fff;
	font-style: Arial;    
	margin: 1px;  
 }
 #content{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(11,minmax(30px,auto));
	margin:0 auto;
	grid-row-gap: 10px;
	grid-column-gap: 8px;

 }
 #content header{
	padding:5px;
	background-color:#123456;
	grid-column: 1 / 4;
 }
 #content section{
	padding:30px;
	background-color: #123456;
	grid-column: 1 / 3;
	grid-row:2/7;
	display: flex;
	justify-content: space-around;
 }
 #content aside{
	padding:30px;
	background-color: #eee9;
	grid-column:  3/ 5;
	grid-row: 2/ 11;
 }
 #content div{
	padding:10px;
	background-color: #f9f9f9;
	grid-column: 1/3;
	grid-row: 7/ 11;
	height: 100%;
 }  
 label{
	float:left;
	font-size: 20px;
	font-weight: bold;
 }
 header > button {
	float:right;
	background-color: #eeee;
	background-color:#ff9966; /* pink */
	border: none;
	color: white;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 20px;
	border: 2px solid #fff; 
	width:180px;
   margin:10px;
 }
button:hover {
	background-color: #444; /* Green */
	color: white;
}
button:active { 
	background-color: #4CAF22;
}
 section > select ,section > input {
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 20px;
	border: 2px solid #fff; 
	width:180px;
	background-color: #ff9966;
 }
 option{
	 font-size:20px;
 }
 #rndbtn{
	 margin:0 auto;
	-webkit-animation:zoom-in-out 5s ease-in-out 0s infinite normal;
	-moz-animation:zoom-in-out 5s ease-in-out 0s infinite normal;
	-ms-animation:zoom-in-out 5s ease-in-out 0s infinite normal;
	animation:zoom-in-out 5s ease-in-out 0s infinite normal;
	}

@-webkit-keyframes zoom-in-out {
	0%{ -webkit-transform: scale(1); transform: scale(1.5); }
	50%{ -webkit-transform: scale(1.08); transform: scale(1.08); }
	100%{ -webkit-transform: scale(1); transform: scale(1.5); }
	}

@keyframes zoom-in-out {
	0%{ -ms-transform: scale(1); transform: scale(1.5); }
	50%{ -ms-transform: scale(1.08); transform: scale(1.08); }
	100%{ -ms-transform: scale(1); transform: scale(1.5); }
}
.title, .subtitle{
	width:250px;
}