body{
    color:#fff;
    text-align: center;
    font-family: Arial;
}
#content{
    display:grid;
    /*grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-columns: 1fr 1fr 1fr ;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,minmax(200px,auto));
    margin:0 auto;
}
#content div{
    background: #fff;
    padding:60px;
    
}
.main{
    grid-column: 2 / 3;
    grid-row:2 / 4;
    border-radius: 10px;
}
label{
    font-size:30px;
}
a{
    background-color: #ad9c3a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #fff; 
    margin:30px;
}
a:hover {
    background-color: #86f745; /* Green */
    color: white;
    cursor: pointer;
}
a:active { 
    background-color: #4CAF50;
}