
*{
    overflow: hidden;;
} 
#header{
    background-color: #f7eff0;

}
#img{
    margin-left:30px;
    float:left;
}
#img2{
    opacity: 0.1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#nav{
    float:right;
}
a{
    padding:10px;
    color:#1323f9;
    /*text-decoration: none;*/
    line-height: 80px;
    margin-top: 100px;
}
a:hover{
    color: #5bdee5;
}
#teacher{
    background-color: #ad9c3a; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #fff; 
    margin:30px;
    margin-left:40%;
    margin-top:80px;
    opacity:unset;
}
#student{
    background-color: #ad9c3a; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #fff; 
    margin:30px;
    margin-left:40%;

    opacity:unset;

}
#section{
    background-image: url("images/backgrnd.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    /* background-color:rgba(0,0,0,0.3); */
    opacity: 0.2; 
    filter: alpha(opacity=50); 
    height:100%;
    z-index:-1;
    
}
#teacher ,#student{
    z-index:2;
    background-color:blue;
    opacity:0.9;
}
